@import "tailwindcss";

@theme {
  --color-primary: #FF4500; /* Laranja/Vermelho (cor da marca) */
  --color-primary-dark: #CC3700;
  --color-background: #09090B; /* Asfalto/Dark */
  --color-card: #18181B;
  --color-foreground: #FAFAFA;
  
  --font-sans: var(--font-inter);
}

@layer base {
  html, body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    overflow-x: hidden;
  }
}
